<app-menu-superior></app-menu-superior>
<div class="container main-container">
  <h2>Lista de Eventos</h2>
  <div class="page-size">
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data de Início</th>
            <th>Data de Encerramento</th>
            <th>Valor</th>
            <th>Online</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Meu Evento</td>
            <td>12/04/2019</td>
            <td>29/04/2019</td>
            <td>R$ 450,50</td>
            <td>Online</td>
            <td>
              <a title="Detalhes" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Saber Mais
              </a>
            </td>
          </tr>
          <tr>
            <td>DevXperience</td>
            <td>01/09/2019</td>
            <td>04/05/2019</td>
            <td>R$ 500,00</td>
            <td>São Paulo</td>
            <td>
              <a title="Detalhes" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Saber Mais
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
